<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
		<title>Formulario De Contacto</title>
		<link rel="stylesheet" href="estilos.css">
	</head>
	<body>
		<div class="loginn">
            <img src="unnamed.png" class="avatar" alt="Avatar Image">
            <h1>Ingrese Aqui</h1>
            <form>
              <input type="submit" value="Ingrese los productos abajo" >
              <input type="submit" value="Egrese  los productos abajo" >
              <a href="news.ejs">ingrese los productos</a>
              <br>
              <br>
              <a href="indexx.php">egrese los productos</a>
            </form>
        </div>
	</body>
</html>